:root {
    --bg-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MAIN PAGE STYLES */



* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /* siempre se utiliza para ajustar el contenido de acuerdo al tamaño de la caja padre*/
    /* background-color: #00AAFF; */
}
body {
    background: linear-gradient(to bottom, #00AAFF, #FFFFFF);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0%;
    background-attachment: fixed;
}


.header {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 30px;
    display: flex;
    align-items: center; /*vertical*/
    justify-content: center;/*horizontal*/
    border-bottom: 2px solid #FFFFFF;
    margin-left: 100px;
    margin-right: 100px;
}

/* ESTILO DE FORMULARIO Y BOTONES*/


.search-country {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-container {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input {
    padding: 0px 25px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    box-shadow: var(--bg-box-shadow);
}

.search-container i {
    position: absolute;
    right: 20px;
    color: slategrey;
    cursor: pointer;
}

.search-options {
    margin-right: 25px;
    margin-left: 25px;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    padding: 0px 25px;
    cursor: pointer;
    box-shadow: var(--bg-box-shadow);
}

.search-btn {
    margin-right: 25px;
    margin-left: 25px;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    padding: 0px 25px;
    cursor: pointer;
    box-shadow: var(--bg-box-shadow);
}
.search-btn:active {
    transform: translateY(1px);
}

.search-options:active {
    transform: translateY(1px);
}

.search-btn i {
    margin-left: 5px;
}


/* ESTILO DE TARJETAS */

.card-container {
    margin-top: 30px;
    /* background-color: tomato; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.country-card {
    background-color: aliceblue;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    box-shadow: var(--bg-box-shadow);
    border-radius: 3px;
    background: linear-gradient(to bottom,#FFFFFF, #79caf3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.country-card:active {
    transform: translateY(1px);
}

.country-card p {
margin-left: 5px;
font-weight: 600;
}

.country-card img {
    border-radius: 3px 3px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media (max-width: 530px) {
    
    .search-country {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .search-container {
        margin-bottom: 15px;
        max-width: 150px;
    }
    .search-options {
        margin-bottom: 15px;
    }
    .search-container i {
        right: 10px;
    }

}

@media (max-width: 950px) {
    .header {
        padding: 10px 15px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media (max-width: 360px) {
    body {
        padding: 30px 20px;
    }
    .header {
        margin: 0px;
    }

}